{% extends 'main.html' %}
{% load static %}

{% block title %}
  Your Shopping Cart
{% endblock %}

{% block content %}
<div class="container my-5">
  <h1 class="mb-4">Your Shopping Cart</h1>

  <div class="row">
    <div class="col-md-8">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Product</th>
              <th>Quantity</th>
              <th>Unit price</th>
              <th>Total</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for item in cart %}
              {% with product=item.product %}
                <tr>
                  <td class="d-flex align-items-center">
                    <div class="mr-3">
                      <a href="{{ product.get_absolute_url }}">
                        <img src="{% if product.cover %}{{ product.cover.url }}{% else %}{% static "img/product.jpeg" %}{% endif %}" style='width: 100px;border-radius: 10%;'>
                      </a>
                    </div>
                    <div>
                      {{ product.title }}
                    </div>
                  </td>
                  <td>{{ item.quantity }}</td>
                  <td>${{ item.price }}</td>
                  <td>${{ item.total_price }}</td>
                  <td>
                    <form action="{% url "cart:cart_remove" product.id %}" method="post">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-sm btn-outline-danger">Remove</button>
                    </form>
                  </td>
                </tr>
              {% endwith %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Summary</h5>
          <p class="card-text">Total Items: {{ total_items }}</p>
          <p class="card-text">Total Price: ${{ cart.get_total_price }}</p>
          <a href="{% url 'order:order_create' %}" class="btn btn-primary">Checkout</a>
          <a href="{% url "shop:product_list" %}" class="btn btn-light">Continue Shopping</a>
        </div>
      </div>
    </div>
  </div>

  {% if total_items == 0 %}
    <div class="mt-5 text-center">
      <p>Your cart is empty.</p>
      <a href="{% url "shop:product_list" %}" class="btn btn-primary">Start Shopping</a>
    </div>
  {% endif %}
</div>
{% endblock %}
